#errorFields
{
    border-color: #990000;
}

#onFocus
{
    border-color: #009900;
}

style1
{
    height: 54px;
}

#RequestForm
{
    padding: 10px;
}

.style2
{
    height: 52px;
}

.CebuLogo
{
    margin:0 auto;
}
